requests
termcolor
wikipedia
forecastiopy
googletrans
pyaescrypt
PySDL2
wheel
pya20
pygame
regex
cffi
google-cloud-speech
six
click
pyyaml
datetime
bs4
lunardate
datefinder
youtube_dl
pafy
pyalsaaudio
gtts